body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 36px;
}

.desc {
    margin: 0;
    font-size: 18px;
}

#navigation {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#contents {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #555;
}

.dashboard {
    text-align: center;
    margin: 50px auto;
}

.dashboard h2 {
    font-size: 24px;
}

.dashboard p {
    font-size: 18px;
}

.logout {
    text-align: center;
    margin-top: 20px;
}

.logout a {
    color: #333;
    font-weight: bold;
}

.logout a:hover {
    color: #555;
}

